/**
 * Copyright 2020 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

html            { font-family: 'Noto Sans', sans-serif}
body            { background: #000000; color: #bfbfbf; overflow-x: hidden;}
a               { color: #9fc6e0; }
h1, h2          { color: #bfbfbf; }
h1, h2          { font-family: 'Merriweather Sans'; margin-top: 0.2em; margin-bottom: 0.2em;}
h1              { font-size: 1.7em; }
h2              { font-size: 1.2em; }

nav             { font-family: sans-serif}
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.logo           { filter: invert(1); vertical-align: top;  width="19" height="19"; }

.wikilink:before {
	content: "[["
}

.wikilink:after {
	content: "]]"
}

.subnode {
    /* background: #351a4a; */
    /* background: #2a153b; */
    background: #12091a;
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
}

.pulled-subnode   { 
    background: #101010; 
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
}

.node-header {
    text-align: left;
    margin-bottom: 1em;
    margin-left: 0.2em;
}

.subnode        { 
}

.not-found { 
    background: #2f1f1f; 
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
}



/*.subnode li     { margin: 0.8em 1.2em; }*/
/*.subnode li h2  { margin-left: -1em; }*/

.subnode-header {
    font-style: italic; 
    width: 100%;
    margin-bottom: 10px; 
    border-radius: 10px;
    display: inline-block;
}

.subnode-footer {
    font-style: italic; 
    width: 100%;
    background: #1f1f1f; 
    color: #cfcfcf; 
    margin-bottom: 10px; 
    border-radius: 10px;
}

.subnode-id {
}

.subnode-links {
}

.links { 
    width: 100%;
    display: flex;
    background: #080808; 
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
    gap: 10px;
}

.backlinks {
    float: left;
    width: 50%;
}

.pushlinks {
    width: 20%;
    background: #080808; 
    color: #cfcfcf; 
}

.pulllinks {
    width: 20%;
    background: #080808; 
    color: #cfcfcf; 
}

.forwardlinks {
    background: #080808; 
    width: 50%;
}

.backlinks-header, .pushlinks-header, .pulllinks-header, .forwardlinks-header {
    font-style: italic; 
    font-weight: bold;
    margin-bottom: 1em;
}

.links-header {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
    margin-left: 0.2em;
}

.search { 
    width: 100%;
    display: flex;
    background: #080808; 
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
    gap: 10px;
}

.search-header {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
    margin-left: 0.2em;
}

.search-agora {
    float: right;
    width: 65%;
}

.search-internet {
    background: #080808; 
    float: left;
    width: 35%;
}

.search-agora-header, .search-internet-header {
    font-style: italic; 
    font-weight: bold;
    margin-bottom: 1em;
}

.listing { 
    display: inline-block;
    background: #080808; 
    color: #cfcfcf; 
    padding: 0.5em; 
    margin-bottom: 10px; 
    border-radius: 10px;
}

.wikilink-marker {
    /* deemphasize */
    font-weight: lighter;
}

/* hypothes.is 
    This totally doesn't work, at all, and I have no idea why :) 
*/
.annotator-frame { margin-top: 4.5em }


.submit {display: block; margin-top: 25px}